header { 
  color: white;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}


img {
    float: left;
    clear: both;
    width: 250px;
    height: 300px;
    vertical-align: text-top;
    padding: 10px;
    margin-left: 10px;
}

body {
    background-color: midnightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
}

article.Pants {
    color:whitesmoke;
    margin-right: 100px;
    margin-left: 100px;
    text-indent: 50px;
}

article.Doctor {
    color:silver;
    margin-right: 100px;
    margin-left: 100px;
    text-indent: 50px;
}

article.Grandpa {
    color: gray;
    margin-right: 100px;
    margin-left: 100px;
    text-indent: 50px;
}

h3 {
    color:cadetblue;
    text-align: left;
    padding-top: 75px;
}

footer {
    text-align: right;
    color: cadetblue;
    padding: 150px;;
}
